.menu li{
	display: inline-block;
	text-decoration: none;
	/*padding: 2px;*/
	background-color: #FFFFFF;
	color: #000000;
}
.menu ul{
	text-decoration: none;
}
.menu li a:hover{
	text-decoration: underline;
}
.menu .is-current{
	background-color: #0000FF;
}
