.menu li{
	display: inline-block;
	text-decoration: none;
	border: 3px solid #00FFFF;
	border-style: outset;
	padding: 2px;
	background-color: #FFFFFF;
	color: #000000;
}
.menu ul{
	text-decoration: none;
}
.menu li a:hover{
	display: block;
	color: 	#000000;
	background-color: #00FFFF;
}
.menu .is-current{
	background-color: #0000FF;
}