body{
	/*background-color: #2F4F4F;*/
	/*color: #FFFFFF;*/
	font-family: Arial, Helvetica, sans-serif
}
header{
	grid-column: 1/3;
	text-align: center;
}
article{
	grid-column: 1/3;
}
h1{
	/*padding-left: 425px;*/
	color: red;
	margin: 10px;
	margin-bottom: 30px;
}
h2{
	color: #00FFFF;
	font-style: italic;
	font-weight: normal;

	border-bottom: 1px solid #00FFFF;
	border-right: 1px solid #2F4F4F;
	border-left: 1px solid #00FFFF;
	border-radius: 20px;
	margin: 0px;
	margin-bottom: 5px;
}
p{
	margin-right: 15px;
	line-height: 1.2em;

}

figure{
	margin-left: 20px;
}
figcaption{
	text-align: center;
}
table{
	background-color: #000000;
}
a{
	color: #7D9C9F;
	text-decoration: none;
/* unvisited link*/
}
a:link{
	color: #0000FF;
}
/* visited link*/
a:visited{
	color: #00FA9A;
}
/* mouse over link */
a:hover{
 color:red
}
footer{
	grid-column: 1/3;
}
.container{
	display: grid;
	grid-template-columns: 2fr 1fr;

	margin: 0 auto;
	width: 70%;
	min-width: 960px;
}

.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}